# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Doc files
*.html
*.htm
*.php
*.asp

# Project files
*.uvproj
*.uvgui.*
*.uvopt
*.bak
*.dep
*.crf
*.d
*.lnp
*.sct
*.map
*.lst
*.axf

# Ignore everything in this directory 
* 